@media (min-device-width: 100px) and (max-device-width: 767px){

	.mianbutton {
    display: none;
}

	.navbar .mobileshow {
    opacity: 0;
}
.mobileshow {
    position: absolute;
/*    padding: 25px;*/
    width: 100%;
    top: 0;
    background: #000000;
    border-radius: 0px;
    display: block;
}
.navbar-mobile .mobileshow {
    opacity: 1;
}
.mobileshow .social2 {
    display: block;
   margin-bottom: 15px;
}
.social2 {
    padding: 0 10px;
    padding-right: 10px;
}
.mobileshow .social1 {
    display: block;
    margin-bottom: 10px;
}
.mobileshow .language {
    display: block;
/*    padding: 6px 20px;*/
}
nav#navbar {
    left: -260px;
}

}